@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Prompt:ital,wght@1,700&family=Ubuntu:wght@500&display=swap');
header {
  background-color: #2e2c2c;
  display: block;
  text-align: center;
  padding: 3.5px 0;
  margin: 0;
  position: sticky;
  top: 0;
}

nav {
  align-items: center;
  text-align: center;
}

p {
  font-family: 'Noto Sans', sans-serif;
  text-align: justify;
  color: #c4c4c4;
}

span {
  font-family: 'Noto Sans', sans-serif;
  color: #cde400;
}

a {
  font-family: 'Ubuntu', sans-serif, Bahnschrift;
  color: #d8d5d5;
  text-decoration: none;
  transition: 0, 3s ease-out;
}

body {
  background-color: rgb(26, 26, 26);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-color: rgb(34, 33, 33);
  padding: 17vh;
  border-radius: 12px;
  min-width: 280px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Prompt', sans-serif;
  color: #f1eb3b;
  padding: 1vh;
  letter-spacing: 1px;
}

ul {
  list-style: none;
  padding: 0.2em;
  text-align: center;
}

ul li {
  letter-spacing: 1.7px;
  padding: 0.5em;
  margin-right: 0;
}

ul li:hover {
  background-color: rgb(143, 43, 236);
  opacity: 20%;
  letter-spacing: 1.7px;
  padding: 0.5em;
  margin-right: 0;
}

.menu {
  width: 10%;
  padding: 2vh;
  position: absolute;
  font-size: 0.8em;
  background-color: #23232e;
  flex-direction: column;
  display: flex;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
}

.menu:not(:hover) .bmenu {
  position: absolute;
  display: block;
  cursor: pointer;
  padding-top: 15px;
  background-color: #2e2c2c;
  border-radius: 5%;
  transform: translateX(300%);
  transition: transform 0.3s ease-in;
}

.menu:hover {
  transform: translateX(0);
  transition: transform 0.3s ease-in;
}

.menu:hover .bmenu {
  transform: translateX(0);
  padding-top: 15px;
  position: absolute;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.separador {
  display: block;
  width: 62px;
  height: 1.5px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #fff;
}

.bmenu div {
  width: 32px;
  height: 3px;
  background-color: #fff;
  margin: 8px;
}

.logo {
  margin-right: 20px;
  margin-top: -100px;
  float: right;
}

.logo:hover {
  animation: pular 0.4s ease-in;
}

.icones {
  float: left;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

del {
  text-decoration-color: red;
}

@keyframes pular {
  0% {
    transform: translateY(0);
    transition: transform 0.3s ease-in;
  }

  50% {
    transform: translateY(-15%);
    transition: transform 0.3s ease-in;
  }

  100% {
    transform: translateY(0);
    transition: transform 0.3s ease-in;
  }
}

#foto {
  width: 25%;
  height: 25%;
  margin: 0 auto;
  border: 6px solid #cde400;
  border-radius: 50%;
}

.descricao {
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

